* {
    font-family: "Lato";
}

header h5 {
    color: #F87932;
}

h1,
span {
    font-family: 'Merriweather', serif;
}

h2 {
    font-family: 'Merriweather', serif;
}

header {
    background-position: bottom;
    background: url(../img/zadniifon.png);
    background-repeat: no-repeat;
    background-size: cover;
}
