* {
    font-family: "Lato";
}

header h5 {
    color: #F87932;
}

h1,
span {
    font-family: 'Merriweather', serif;
}

h2 {
    font-family: 'Merriweather', serif;
}

header {
    background-position: bottom;
    background: url(../img/zadniifon.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sea {
    overflow: hidden;
}

.navbar-expand-lg {
    padding-top: 0;
    padding-bottom: 20px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.nav {
    gap: 40px;
}
.nav-link {
    height: 40px;
    letter-spacing: 5px;
    text-align: center;
    background-color: #ffffffe0;
    border-radius: 0px 0px 10px 10px;
    margin: 0;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    transition: height .3s ease-in-out, padding-top 1s ease-in-out;
    justify-content: space-around;
    position: relative;
    right: -200px;

}

.nav-link:hover {
    box-shadow: 0 0 20px 12px rgba(226, 226, 226, 0.281);
    padding-top: 40px;
    height: 80px;
}
